<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Estado</th>
        <th scope="col">Fecha</th>
        <th scope="col">Direccion</th>
        <th scope="col">Total</th>
    </tr>
    </thead>
    <tbody  async="true">
        <tr>
            <th scope="row"><%= header.id%></th>
            <td><%= header.state%></td>
            <td><%= header.date%></td>
            <td><%= header.address%></td>
            <td><%= header.total%></td>
        </tr>

    </tbody>
</table>
