<%- include('../../compartido/cabecera')%>

<div class="container">
    <% if(datos.mensaje){ %>
        <div class="alert alert-danger" role="alert">
            <%= datos.mensaje %>
        </div>
    <% } %>
    <% if(datos.error){ %>
        <div class="alert alert-danger" role="alert">
            <%= datos.error %>
        </div>
    <% } %>
<h1>Ruta mostrar usuario </h1>
    <a href="/usuario/ruta/crear-usuarios">
        <button type="button"
                class="btn btn-danger">
            Crear usuario
        </button>
    </a>

        <form action="/usuario/mostrar-usuarios"
                method="GET">
            <div>
                <label for="consultaID">Buscar Usuario</label>
                <input id="consultaID"
                       type="text"
                       placeholder="EJ: 0751010414 o Joha"
                       title="Ingresar buscqueda por nombre o por cedula"
                       name="consultaUsuario"
                       class="form-control">
                <small id="cedulaIDHelp"
                       class="form-text text-muted">
                    Puede buscar por cedula o por nombre
                </small>
            </div>

        </form>

<%- include('../componentes/mostar-tabla',{
 usuarios: datos.usuarios
})
 %>

</div>
<%- include('../../compartido/pie-de-pagina')%>
