<%- include('../sharedViews/header')%>

<% const estaEditando = datos.owner != undefined;%>
<div class="container">
        <% if(datos.error){ %>
            <div class="alert alert-danger" role="alert">
                <%= datos.error %>
            </div>
        <% } %>

        <% if(datos.mensaje){ %>
            <div class="alert alert-primary" role="alert">
                <%= datos.mensaje %>
            </div>
        <% } %>


    <h1> <%= estaEditando? 'Editando a ' + datos.owner.name : 'Crear Owner'%></h1>

    <form action="/owner<%= estaEditando ?  '/' + datos.owner.id : '/crear'%>"
          method="POST">
        <div class="form-group">
            <label for="nameID">Nombre</label>
            <input id="nameID"
                   type="text"
                   placeholder="EJ: Johanna"
                   title="Ingresar name owner"
                   name="name"
                   value="<%= estaEditando ? datos.owner.name : ''%>"
                    <%=estaEditando ? 'abled' : ''%>
                   class="form-control">
            <small id="nameIDHelp"
                   class="form-text text-muted">
                Ingresa un name  mayor a 3 caracteres y menor a 10.
            </small>
            <label for="lastnameID">Apellido</label>
            <input id="lastnameID"
                   type="text"
                   placeholder="EJ: Cerezo"
                   title="Ingresar Apellido"
                   name="lastname"
                   value="<%= estaEditando ? datos.owner.lastname: ''%>"
                    <%=estaEditando ? 'abled' : ''%>
                   class="form-control">
            <small id="lastnameIDHelp"
                   class="form-text text-muted">
                Ingresa un apellido  mayor a 3 caracteres.
            </small>
            <label for="idCardID">Cedula</label>
            <input id="idCardID"
                   type="text"
                   placeholder="EJ: 0751010414"
                   title="Ingresar idCard"
                   name="idCard"
                   value="<%= estaEditando ? + datos.owner.idCard : ''%>"
                    <%=estaEditando ? 'disabled' : ''%>
                   class="form-control">
            <small id="idCardIDHelp"
                   class="form-text text-muted">
                Ingresa una idCard de 10 caracteres.
            </small>
        </div>
        <button type="submit"
                class="btn btn-danger">
            <%= estaEditando ?'Editar Owner' : 'Crear Owner'%>
        </button>
        <button type="reset"
                class="btn btn-danger">
            Limpiar formulario
        </button>

    </form>



</div>

<%- include('../sharedViews/footer')%>
