<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Cedula</th>
        <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody  async="true">
    <%     owners.forEach( (owner) => {%>
        <tr>
            <th scope="row"><%= owner.id%></th>
            <td><%= owner.name%></td>
            <td><%= owner.lastname%></td>
            <td><%= owner.idCard%></td>
            <td>
                <a href="owner/edit-owner/<%= owner.id %>">
                    <button type="button"
                            class="btn btn-info">
                        Editar
                    </button>
                </a>

                <a>
                    <form action="/owner/delete/<%= owner.id %>"
                          method="POST">
                        <button type="submit"
                                class="btn btn-danger">
                            Eliminar
                        </button>
                    </form>
                </a>

                <a href="owner/mostrar-owners-cars/<%= owner.id %>">
                    <button type="button"
                            class="btn btn-info">
                        Ver autos
                    </button>
                </a>
            </td>
        </tr>
    <%}); %>
    </tbody>
</table>
