<%- include('../sharedViews/header')%>

<% const estaEditando = datos.car != undefined;%>
<div class="container">
    <% if(datos.error){ %>
        <div class="alert alert-danger" role="alert">
            <%= datos.error %>
        </div>
    <% } %>

    <% if(datos.mensaje){ %>
        <div class="alert alert-primary" role="alert">
            <%= datos.mensaje %>
        </div>
    <% } %>


    <h1> <%= estaEditando? 'Editando a ' + datos.car.chassis : 'Crear Car'%></h1>

    <form action="/car<%= estaEditando ?  '/' + datos.car.id : '/crear'%>"
          method="POST">
        <div class="form-group">
            <label for="chassisID">Chassis</label>
            <input id="chassisID"
                   type="text"
                   placeholder="EJ: 1132121"
                   title="Ingresar chassis car"
                   name="chassis"
                   value="<%= estaEditando ? datos.car.chassis : ''%>"
                    <%=estaEditando ? 'abled' : ''%>
                   class="form-control">
            <small id="chassisIDHelp"
                   class="form-text text-muted">
                Ingresa un chassis valido.
            </small>

        </div>
        <div class="form-group">
            <label for="brandID">Brand</label>
            <input id="brandID"
                   type="text"
                   placeholder="EJ: 1132121"
                   title="Ingresar brand car"
                   name="brand"
                   value="<%= estaEditando ? datos.car.brand : ''%>"
                    <%=estaEditando ? 'abled' : ''%>
                   class="form-control">
            <small id="brandIDHelp"
                   class="form-text text-muted">
                Ingresa un brand valido.
            </small>
        </div>

        <div class="form-group">
            <label for="modelID">Model</label>
            <input id="modelID"
                   type="text"
                   placeholder="EJ: 1132121"
                   title="Ingresar model car"
                   name="model"
                   value="<%= estaEditando ? datos.car.model : ''%>"
                    <%=estaEditando ? 'abled' : ''%>
                   class="form-control">
            <small id="modelIDHelp"
                   class="form-text text-muted">
                Ingresa un model valido.
            </small>
        </div>

        <div class="form-group">
            <label for="colorID">Color</label>
            <input id="colorID"
                   type="text"
                   placeholder="EJ: 1132121"
                   title="Ingresar color car"
                   name="color"
                   value="<%= estaEditando ? datos.car.color : ''%>"
                    <%=estaEditando ? 'abled' : ''%>
                   class="form-control">
            <small id="colorIDHelp"
                   class="form-text text-muted">
                Ingresa un color valido.
            </small>
        </div>

        <div class="form-group">
            <label for="yearID">Year</label>
            <input id="yearID"
                   type="text"
                   placeholder="EJ: 1132121"
                   title="Ingresar year car"
                   name="year"
                   value="<%= estaEditando ? datos.car.year : ''%>"
                    <%=estaEditando ? 'abled' : ''%>
                   class="form-control">
            <small id="yearIDHelp"
                   class="form-text text-muted">
                Ingresa un year valido.
            </small>
        </div>

        <div class="form-group">
            <label for="priceID">Price</label>
            <input id="priceID"
                   type="text"
                   placeholder="EJ: 1132121"
                   title="Ingresar price car"
                   name="price"
                   value="<%= estaEditando ? datos.car.price : ''%>"
                    <%=estaEditando ? 'abled' : ''%>
                   class="form-control">
            <small id="priceIDHelp"
                   class="form-text text-muted">
                Ingresa un price valido.
            </small>
        </div>

        <div class="form-group">
            <label for="idOwnerID">idOwner</label>
            <input id="idOwnerID"
                   type="text"
                   placeholder="EJ: 1132121"
                   title="Ingresar idOwner car"
                   name="idOwner"
                   value="<%= estaEditando ? datos.car.owner.id : ''%>"
                    <%=estaEditando ? 'abled' : ''%>
                   class="form-control">
            <small id="idOwnerIDHelp"
                   class="form-text text-muted">
                Ingresa un idOwner valido.
            </small>
        </div>





        <button type="submit"
                class="btn btn-danger">
            <%= estaEditando ?'Editar Car' : 'Crear Car'%>
        </button>
        <button type="reset"
                class="btn btn-danger">
            Limpiar formulario
        </button>

    </form>



</div>

<%- include('../sharedViews/footer')%>
