<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">chassis</th>
        <th scope="col">marca</th>
        <th scope="col">modelo</th>
        <th scope="col">color</th>
        <th scope="col">anio</th>
        <th scope="col">precio</th>

    </tr>
    </thead>
    <tbody  async="true">
    <%     cars.forEach( (car) => {%>
        <tr>
            <th scope="row"><%= car.id%></th>
            <td><%= car.chassis%></td>
            <td><%= car.brand %></td>
            <td><%= car.model %></td>
            <td><%= car.color %></td>
            <td><%= car.year %></td>
            <td><%= car.price %></td>

            <td>
                <a href="car/edit-car/<%= car.id %>">
                    <button type="button"
                            class="btn btn-info">
                        Editar
                    </button>
                </a>

                <a>
                    <form action="/car/delete/<%= car.id %>"
                          method="POST">
                        <button type="submit"
                                class="btn btn-danger">
                            Eliminar
                        </button>
                    </form>
                </a>

                <a href="">
                    <button type="button"
                            class="btn btn-info">
                        Ver autos
                    </button>
                </a>
            </td>
        </tr>
    <%}); %>
    </tbody>
</table>
