<%- include('../sharedViews/header')%>


<div class="container">

    <% if(datos.mensaje){ %>
        <div class="alert alert-primary" role="alert">
            <%= datos.mensaje %>
        </div>
    <% } %>

    <% if(datos.error){ %>
        <div class="alert alert-danger" role="alert">
            <%= datos.error %>
        </div>
    <%
    }
    %>

    <h1>Lista de Autos </h1>
        <table>
            <tr>
                <td>
                    <div >
                        <a href="../car/create-car">
                            <button type="button"
                                    class="btn btn-danger">
                                Crear car
                            </button>
                        </a>
                    </div>
                </td>
                <td>
                    <div>
                        <a href="../compras/ver-carrito">
                            <button type="button"
                                    class="btn btn-danger">
                                Ver Carrito
                            </button>
                        </a>
                    </div>
                </td>
            </tr>
        </table>





    <form action="/car/mostrar-cars"
          method="GET">
        <div>
            <label for="consultaID">Buscar Car</label>
            <input id="consultaID"
                   type="text"
                   placeholder="EJ: "
                   title="Ingresar buscqueda por  chassis, color, etc"
                   name="consultaCar"
                   class="form-control">
            <small id="cedulaIDHelp"
                   class="form-text text-muted">
                Puede buscar por chassis, color, etc.
            </small>
        </div>

    </form>

    <%- include('./show-cars-table',{
    cars: datos.cars,
    carService: datos.carService
    })
    %>

</div>





<%- include('../sharedViews/footer')%>
